* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#maincontainer {
  min-height: 100vh;
  width: 100%;
  border: 10px solid black;
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,500px);
  justify-items: center;
  align-items: center;
  background-color: yellow;
}

.card {
  margin: 10px;
  height: 400px;
  width: 300px;
  /* border: 1px solid black; */
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 5px 5px 10px black ; /* x y blur color */
  transition: 0.2s;
}
.card:hover{
  box-shadow: 20px 20px 15px black ; /* x y blur color */
}

.card > header {
  height: 40%;
  width: 100%;
  background-color: royalblue;
  display: flex;
  justify-content: center;
}
.card img {
  margin-top: 50px;
  height: 150px;
  width: 150px;
  border: 4px solid royalblue;
  background-color: white;
  padding: 4px;
  border-radius: 50%;
}

.card > section {
  height: 60%;
  width: 100%;
  /* border: 2px solid black; */
  background-color: white;
  font-family: sans-serif;
}
.card h2,
p {
  text-align: center;
}
.card h2 {
  margin-top: 50px;
  font-size: 18px;
}
.card p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}
.social {
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 100%;
  margin-top: 10px;
}
.social > div {
  height: 30px;
  width: 30px;
  /* border: 1px solid black; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.social > div:nth-child(1) {
  background-color: #3e66b7;
}

.social > div:nth-child(2) {
  background-color: #149ff1;
}

.social > div:nth-child(3) {
  background-color: #e4316e;
}
.social > div:nth-child(4) {
  background-color: #fc0300;
}

.btn-group{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btn-group>button{
  background-color: royalblue;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
}
.interactions{
  /* border: 1px solid black; */
  display: flex;
  justify-content:center;
  margin-top: 10px;
}
.interactions>div{
  padding: 0px 15px;
  margin-top: 10px;
}
.interactions>div:nth-child(2){
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}